{% extends "elibot_app_admin/admin_base.html" %}
{% load crispy_forms_tags %}
{% block admin_content %}
    <div class="row">
        <div class="col-md-12 mt-md-3 text-center">
            <h3>Create New Source/ Target</h3>
        </div>
        <div class="col-md-12 mt-md-5">
            <div style="padding: 15px;">
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Define Source Location</legend>
                            <!--{{ form|crispy }}-->
                            <div class="row">
                            <div class="col-md-6">
                                <h5 class="text-left ml-md-2">{{ form.source|as_crispy_field }}</h5>
                            </div>
                            <div class="col-md-3">
                                <a href="{% url 'elibot-scanner-source-create' %}" class="btn btn-outline-primary btn-sm mb-3">Create New</a>
                            </div>
                                <div class="col-md-3">
                                    <a href="{% url 'elibot-scanner-source-list' %}" class="btn btn-outline-primary btn-sm mb-3">View List</a>
                                </div>
                        </div>

                            <!--<select name="source_id" class="select form-control" id="id_source_id">-->
                                <!--<div id="object_selector_start"></div>-->
                                <!--<option value="{{ obj.id }}">{{ obj }}</option>-->

                            <!--</select>-->
                            {{ form.file_list|as_crispy_field }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script>
    var source_type = document.getElementById("id_source_type");
    source_type.addEventListener("change", function(){
        console.log(source_type.value);
    });

</script>
{% endblock %}